:host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.elements-wrapper {
  display: flex;
  flex: 1;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: left;
  padding: 25px;
  padding-top: 20px;
  border-radius: 10px;
  max-width: 1000px;
  min-width: 600px;
  //margin: 20px auto;
  background-color: #fff;
  height: calc(97.5% - 20px);
  width: 100%;
  box-sizing: border-box;
  //border: 2px solid darkgray;
}

@media (max-width: 1500px) {
  .content-wrapper {
    margin: 28px
  }
}


@media (max-width: 1000px) {
  app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1000;
    width: 100%;
  }

  .elements-wrapper {
    flex-direction: column;
    padding-top: 60px; // Höhe des Headers
  }

  .content-wrapper {
    //margin-top: 20px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    //margin-bottom: 15px;
    margin: 15px;
    min-width: unset;
  }
}


app-sidebar {
  flex: 0 0 200px;
  overflow-y: auto;
}

.content-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
