<form (ngSubmit)="onSubmit()" class="login-form">
  <div class="form">
    <h2>Login</h2>

    <!-- E-Mail-Feld -->
    <input id="email" type="email" [control]="loginForm.email" placeholder="Geben Sie Ihre E-Mail ein" />
    @for(error of loginForm.email().errors(); track error) {
      <p class="control-error">{{ error.message }}</p>
    }

    <!-- Passwort-Feld -->
    <input id="password" type="password" [control]="loginForm.password" placeholder="Geben Sie Ihr Passwort ein" />
    @for(error of loginForm.password().errors(); track error) {
      <p class="control-error">{{ error.message }}</p>
    }

    <!-- Fehlernachricht -->
    @if (errorMessage) {
      <p class="control-error">
        {{ errorMessage }}
      </p>
    }

    <!-- Buttons -->
    <button class="login" type="submit" [disabled]="!loginForm().valid()">Anmelden</button>
    <button class="register" type="button" (click)="router.navigate(['/auth/register'])">Registrieren</button>
  </div>
</form>
