<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <input
    type="email"
    id="email"
    name="email"
    placeholder="Email-Adresse"
    ngModel
    required
    email
    #email="ngModel"
  >

  @if (email.touched && email.dirty && email.invalid) {
    <p class="control-error">
      Ungültige E-Mail-Adresse eingegeben
    </p>
  }

  <input
    type="confirmEmail"
    id="confirmEmail"
    name="confirmEmail"
    placeholder="Email-Adresse bestätigen"
    ngModel
    required
    email
    #confirmEmail="ngModel"
  >

  @if (confirmEmail.touched && confirmEmail.dirty && confirmEmail.value !== email.value) {
    <p class="control-error">
      E-Mail-Adresse stimmt nicht überein
    </p>
  }

  <input
    type="password"
    id="password"
    name="password"
    placeholder="Passwort"
    ngModel
    required
    minlength="6"
    #password="ngModel"
  >

  @if (password.touched && password.dirty && password.invalid) {
    <p class="control-error">
      Passwort muss mindestens 6 Zeichen lang sein
    </p>
  }

  <input
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    placeholder="Passwort bestätigen"
    ngModel
    required
    #confirmPassword="ngModel"
  >

  @if (confirmPassword.touched && confirmPassword.dirty && confirmPassword.value !== password.value) {
    <p class="control-error">
      Passwörter stimmen nicht überein
    </p>
  }

  <button class="register" type="submit">Registrieren</button>
  <button class="login" type="button" (click)="navigateToLogin()">Zurück zum Login</button>
</form>
