<mat-card class="form-signals">

  <mat-card-header style="background: whitesmoke; padding: 24px; border-radius: 8px;">
    <mat-card-title style="color: black; font-size: 24px; font-weight: 600; text-align: center; margin: 0;">
      Superhero Registration
    </mat-card-title>
  </mat-card-header>

  <mat-card-content style="margin-top: 30px">

    @if (superheroRegistrationForm().errors().length > 0) {
      <mat-card style="background: #ffebee; padding: 16px; margin-bottom: 16px;">
        <h3 style="color: #c62828; margin-top: 0;">Error while saving:</h3>
        @for(error of superheroRegistrationForm().errors(); track error.kind) {
          <p style="color: #c62828; margin: 0;">{{ error.message }}</p>
        }
      </mat-card>
    }

    <form class="stack" (submit)="onSubmit(); $event.preventDefault();">
      <mat-form-field appearance="fill">
        <mat-label>Alias (Superhero Name)</mat-label>
        <input matInput id="alias" type="text" [control]="superheroRegistrationForm.alias" placeholder="Enter your superhero alias" />
      </mat-form-field>
      @if (superheroRegistrationForm.alias().touched()) {
        @for(error of superheroRegistrationForm.alias().errors(); track error){
          <div class="validation-error">{{ error.message }}</div>
        }
      }

      <mat-form-field appearance="fill">
        <mat-label>Real Name</mat-label>
        <input matInput id="realName" type="text" [control]="superheroRegistrationForm.realName" placeholder="Enter your real name" />
      </mat-form-field>
      @if (superheroRegistrationForm.realName().touched()) {
        @for(error of superheroRegistrationForm.realName().errors(); track error){
          <div class="validation-error">{{ error.message }}</div>
        }
      }

      <mat-form-field appearance="fill">
        <mat-label>Super Power</mat-label>
        <input matInput id="superPower" type="text" [control]="superheroRegistrationForm.superPower" placeholder="Enter your superpower" />
      </mat-form-field>
      @if (superheroRegistrationForm.superPower().touched()) {
        @for(error of superheroRegistrationForm.superPower().errors(); track error){
          <div class="validation-error">{{ error.message }}</div>
        }
      }

      <mat-form-field appearance="fill">
        <mat-label>Weakness</mat-label>
        <input matInput id="weakness" type="text" [control]="superheroRegistrationForm.weakness" placeholder="Enter your weakness" />
      </mat-form-field>
      @if (superheroRegistrationForm.weakness().touched()) {
        @for(error of superheroRegistrationForm.weakness().errors(); track error){
          <div class="validation-error">{{ error.message }}</div>
        }
      }

      <mat-checkbox [control]="superheroRegistrationForm.wearsCape">Wears Cape</mat-checkbox>
      @if (superheroRegistrationForm.wearsCape().value()) {
        <div class="additional-form">
          <mat-form-field appearance="fill">
            <mat-label>Cape Color</mat-label>
            <input matInput id="weakness" type="text" [control]="superheroRegistrationForm.capeColor" placeholder="Enter your cape color" />
          </mat-form-field>
          @if (superheroRegistrationForm.capeColor().touched()) {
            @for(error of superheroRegistrationForm.capeColor().errors(); track error.kind) {
              @if(error.kind === 'required') {
                <div class="validation-error">{{ error.message }}</div>
              }
            }
          }
        </div>

      }

      <mat-form-field appearance="fill">
        <mat-label>Arch Enemy</mat-label>
        <input matInput id="archEnemy" type="text" [control]="superheroRegistrationForm.archEnemy" placeholder="Enter your arch enemy" />
      </mat-form-field>
      @if (superheroRegistrationForm.archEnemy().touched()) {
        @for(error of superheroRegistrationForm.archEnemy().errors(); track error){
          <div class="validation-error">{{ error.message }}</div>
        }
      }

      <mat-form-field appearance="fill">
        <mat-label>Liability Damage (in millions)</mat-label>
        <input matInput id="liabilityDamage" type="number" [control]="superheroRegistrationForm.liabilityDamage" />
      </mat-form-field>
      @if (superheroRegistrationForm.liabilityDamage().touched()) {
        @for(error of superheroRegistrationForm.liabilityDamage().errors(); track error){
          <div class="validation-error">{{ error.message }}</div>
        }
      }

      <div class="actions">
        <button class="button-style" type="submit" [disabled]="superheroRegistrationForm().submitting()" >
          @if (superheroRegistrationForm().submitting()) {
            Registering...
          } @else {
            Register Superhero
          }
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
