.elements-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  border-radius: 10px;
  width: calc(100% - 200px - 300px);
  max-width: 1200px;
  min-width: 600px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: #fff;
  padding: 20px;
  height: calc(95% - 40px);
}

app-sidebar {
  width: 200px;
}

.content-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
