.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
  background-color: white;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 46px;
  cursor: pointer;
}

.logo {
  font-family: "Courier New";
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.logo-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link:hover {
  opacity: 0.8;
}

@media (max-width: 1000px) {
  .hamburger-menu {
    display: block;
    padding-top: 4px;
  }

  .sidebar-header {

    //justify-content: center;
    background-color: transparent;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top:0px;
    //width: 100%;

  }

  .logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 60px;
    height: auto;
    max-height: calc(100vh - 60px);
    //z-index: 999;
  }

  .sidebar.open {
    display: block;  //transform: translateY(0);
    width: calc(100% - 43px);
    margin: 20px;
    border-radius: 10px;
    height: auto;
    border: 2px solid #8e8e8e;


  }
}

.sidebar {
  font-family: "Arial Nova";
  background-color: white;
  width: 200px;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
}

.sidebar ul:first-child {
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar h1 {
  font-family: "Courier New";
  margin-bottom: 0;
  margin-top: 0;
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: large;

  &:hover {
    background-color: #4b4b4b;
    color: white;
  }
}


