<div class="sidebar-header">
  <button class="hamburger-menu" (click)="toggleMenu()">☰</button>
  <a (click)="navigateTo('/main')" class="logo-link">
    <h1 class="logo">Journal!X</h1>
  </a>
</div>

<nav class="sidebar" [class.open]="isMenuOpen">
  <ul>
    <li><a (click)="navigateTo('/main')">Hauptseite</a></li>
    <li><a (click)="navigateTo('/profile')">Profil</a></li>
    <li><a (click)="navigateTo('/templates')">Templates</a></li>
    <li><a (click)="navigateTo('/posts')">Einträge</a></li>
    <li><a (click)="navigateTo('/logout')">Abmelden</a></li>
  </ul>
</nav>
