<!-- sidebar.component.html -->

<!--Icons from https://www.svgrepo.com/collection/wave-oval-interface-icons/-->

<!-- Header bleibt immer sichtbar -->
<header class="sidebar-header">
  <button class="hamburger-menu" (click)="toggleMenu()" aria-label="Menü öffnen">☰</button>
  <a (click)="navigateTo('/content/main-page')" class="logo-link">
    <h1 class="logo">Journal!X</h1>
  </a>
</header>

<!-- Overlay für mobile Ansicht -->
<div class="overlay" [ngClass]="{'active': isMenuOpen}" (click)="toggleMenu()"></div>

<!-- Sidebar -->
<nav class="sidebar" [class.open]="isMenuOpen">
  <ul class="main-menu">
    <li class="sidebar-logo">
      <a (click)="navigateTo('/content/main-page')" class="logo-link">
        <h2 class="logo">Journal!X</h2>
      </a>
    </li>
    <li>
      <a (click)="navigateTo('/content/main-page')" class="nav-link">
        <img src="/home-svgrepo-com.svg" alt=""/>
        <span>Hauptseite</span>
      </a>
    </li>
    <li>
      <a (click)="navigateTo('/content/profile')" class="nav-link">
        <img src="/user-svgrepo-com.svg" alt=""/>
        <span>Profil</span>
      </a>
    </li>
    <li>
      <a (click)="navigateTo('/content/post')" class="nav-link">
        <img src="/components-svgrepo-com.svg" alt=""/>
        <span>Neuer Eintrag</span>
      </a>
    </li>
    <li>
      <a (click)="navigateTo('/content/posts')" class="nav-link">
        <img src="/folder-open-svgrepo-com.svg" alt=""/>
        <span>Einträge</span>
      </a>
    </li>
  </ul>

  <ul class="bottom-menu">
    <li>
      <a (click)="navigateTo('/content/settings')" class="nav-link">
        <img src="/gear-settings-svgrepo-com.svg" alt=""/>
        <span>Einstellungen</span>
      </a>
    </li>
    <li>
      <a (click)="logout('/auth/login')" class="nav-link">
        <img src="/power-svgrepo-com.svg" alt=""/>
        <span>Abmelden</span>
      </a>
    </li>
  </ul>

</nav>
