/* Allgemeine Sidebar-Stile */
.sidebar {
  font-family: "Arial Nova";
  background-color: white;
  width: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  transition: transform 0.3s ease;
  transform: translateX(0);
  overflow-y: auto;
}

.main-menu {
  flex-grow: 1;
  margin-top: 0;
}

.bottom-menu {
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.sidebar li a {
  text-align: left;
}

.sidebar.open {
  transform: translateX(0);
}

/* Overlay-Stile */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: background-color 0.3s ease, visibility 0.3s ease;
  z-index: 9; /* Unterhalb der Sidebar */
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

/* Header und Hamburger-Menü */
.sidebar-header {
  display: none;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 46px;
  cursor: pointer;
}

.logo {
  font-family: "Courier New";
  margin: 0;
  text-align: left;
  flex-grow: 1;
}

.logo-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link:hover {
  opacity: 0.8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar h1 {
  font-family: "Courier New";
  margin-bottom: 0;
  margin-top: 0;
}

.sidebar a, .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: large;

  &:hover {
    background-color: #4b4b4b;
    color: white;
    cursor: pointer;
    
    img {
      filter: brightness(0) invert(1);
    }
  }
}


.icon {
  margin-right: 8px;
  fill: currentColor; /* Verwendet die aktuelle Textfarbe für das SVG */
}

.nav-link:hover .icon {
  fill: currentColor; /* Ändert die Farbe des SVG beim Hover */
}

.nav-link img {
  width: 23px;
  height: 23px;
  margin-right: 8px;
  transition: filter 0.3s ease;
}



/* Mobile-Ansicht */
@media (max-width: 1000px) {
  /* Hamburger-Menü sichtbar machen */
  .hamburger-menu {
    display: block;
  }

  /* Header anpassen */
  .sidebar-header {

    display: flex;
    background-color: #c8c8c8;
    padding-left: 20px;
    padding-top: 5px;
  }

  /* Logo positionieren */
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
  }

  .sidebar {
    transform: translateX(-120%);
  }

  .sidebar.open h1 {
    display: none;
  }

  .sidebar a {
    font-size: larger;
  }

  .sidebar-logo {
    display: none;
  }
}
