.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  background-color: white;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 46px;
  cursor: pointer;
}

.logo {
  font-family: "Courier New";
  margin: 0;
  text-align: center;
  flex-grow: 1;
}


@media (max-width: 800px) {
  .hamburger-menu {
    display: block;
  }

  .sidebar-header {
    justify-content: space-between;
    background-color: transparent;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 3px;
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 60px; // Anpassen an die Höhe des Headers
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 999;
  }

  .sidebar.open {
    display: block;
  }
}



.sidebar {
  font-family: "Arial Nova";
  background-color: white;
  width: 200px;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.sidebar ul:first-child {
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar h1 {
  font-family: "Courier New";
  margin-bottom: 0;
  margin-top: 0;
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: large;

  &:hover {
    background-color: #4b4b4b;
    color: white;
  }
}


