/* You can add global styles to this file, and also import other style files */
//@import 'node_modules/froala-editor/css/froala_editor.pkgd.css';
//@import 'node_modules/froala-editor/css/froala_style.css';
//
//@import 'assets/froala/froala_editor.pkgd.min.css';
//@import 'assets/froala/froala_style.min.css';

//@import 'node_modules/froala-editor/css/froala_editor.pkgd.min.css';
//@import 'node_modules/froala-editor/css/froala_style.min.css';


@import 'ngx-toastr/toastr';

body {
  //background-image: url('/3.webp');
  background-color: #c8c8c8;
  background-size: auto;
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}
