/* You can add global styles to this file, and also import other style files */
//@import 'node_modules/froala-editor/css/froala_editor.pkgd.css';
//@import 'node_modules/froala-editor/css/froala_style.css';

@import 'froala-editor/css/froala_editor.pkgd.css';
@import 'froala-editor/css/froala_style.css';

body {
  background-image: url('/3.webp');
  background-size: auto;
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

//button  {
//  font-size: smaller;
//  text-align: center;
//  margin-bottom: 30px;
//  width: 210px;
//  border: 1px solid black;
//  height: 30px;
//  border-radius: 5px;
//  transition: background-color 0.3s ease, color 0.3s ease, border-bottom-color 0.3s ease;
//}
//
//button:hover {
//  border: 2px solid black;
//}
